<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUJoJOcxkVtCwguPyLoribxWHC4Rempys</string>
	<key>GCM_SENDER_ID</key>
	<string>281766010290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>InterviewAce</string>
	<key>PROJECT_ID</key>
	<string>interviewace-d5eac</string>
	<key>STORAGE_BUCKET</key>
	<string>interviewace-d5eac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:281766010290:ios:961ca7acd4544f7cad98ab</string>
</dict>
</plist>
